<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <link href="../css/chat-list.css" rel="stylesheet" type="text/css">
    <title>CoCo 聊天列表</title>
</head>

<body>
    <header>
        <p class="head-row">
            <img src="../images/headlogo.jpg" class="head-logo" />
            <span>聊天</span>
        </p>
    </header>
    <div class="container container-1">
        <ul class="chat-list">
            <li class="chat-list-li">
                <div class="chat-list-item clearfix active">
                    <div class="list-item-left">
                        <img class="user-head-logo" src="../images/headlogo.jpg" />
                    </div>
                    <div class="list-item-right">
                        <div class="item-right-01">
                            <span class="user-name">EzawaGin</span>
                        </div>
                        <div class="item-right-02">
                            <span class="last-message">你发送了贴图发送了贴图发送了贴图发送了贴图发送了贴图</span>
                            <span class="last-message-time">星期一</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-li">
                <div class="chat-list-item clearfix">
                    <div class="list-item-left">
                        <img class="user-head-logo" src="../images/headlogo.jpg" />
                    </div>
                    <div class="list-item-right">
                        <div class="item-right-01">
                            <span class="user-name">EzawaGin</span>
                        </div>
                        <div class="item-right-02">
                            <span class="last-message">你发送了贴图发送了贴图发送了贴图发送了贴图发送了贴图</span>
                            <span class="last-message-time">2020-8-24</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-li">
                <div class="chat-list-item clearfix">
                    <div class="list-item-left">
                        <img class="user-head-logo" src="../images/headlogo.jpg" />
                    </div>
                    <div class="list-item-right">
                        <div class="item-right-01">
                            <span class="user-name">EzawaGin</span>
                        </div>
                        <div class="item-right-02">
                            <span class="last-message">你发送了贴图发送了贴图发送了贴图发送了贴图发送了贴图</span>
                            <span class="last-message-time">20:24:52</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>