<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=WW, initial-scale=1.0">
    <title>正在和Ezawa Gin聊天</title>
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <link href="../css/chat.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div><img src="../images/fanhui.png" class="head-back" onclick="window.location.href='./chat-list.html' ;" /></div>
        <div><img src="../images/headlogo.jpg" class="head-logo" /></div>
        <div><span>Ezawa Gin</span></div>
    </header>
    <div class="container">
        <ul class="message-list">
            <li class="time-li">
                <p class="message-time">周一 14:32:57</p>
            </li>
            <li class="form-li clearfix">
                <img class="message-form-logo" src="../images/headlogo.jpg" />
                <span class="form-message">
                    Sorry.I went offiline and went to bed early last night and only saw your message
                </span>
            </li>
            <li class="form-li clearfix">
                <img class="message-form-logo" src="../images/headlogo.jpg" />
                <span class="form-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    Sorry.I went offiline and went to bed early last night and only saw your message
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    It's Ok.
                </span>
            </li>
            <li class="time-li">
                <p class="message-time">周一 14:32:57</p>
            </li>
            <li class="form-li clearfix">
                <img class="message-form-logo" src="../images/headlogo.jpg" />
                <span class="form-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    Sorry.I went offiline and went to bed early last night and only saw your message
                </span>
            </li>
            
            <li class="form-li clearfix">
                <img class="message-form-logo" src="../images/headlogo.jpg" />
                <span class="form-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    Sorry.I went offiline and went to bed early last night and only saw your message
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    It's Ok.
                </span>
            </li>
            <li class="time-li">
                <p class="message-time">周一 14:32:57</p>
            </li>
            <li class="form-li clearfix">
                <img class="message-form-logo" src="../images/headlogo.jpg" />
                <span class="form-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    Sorry.I went offiline and went to bed early last night and only saw your message
                </span>
            </li>
            
            <li class="form-li clearfix">
                <img class="message-form-logo" src="../images/headlogo.jpg" />
                <span class="form-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    Sorry.I went offiline and went to bed early last night and only saw your message
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    It's Ok.
                </span>
            </li>
            <li class="form-li clearfix">
                <img class="message-form-logo" src="../images/headlogo.jpg" />
                <span class="form-message">
                    It's Ok.
                </span>
            </li>
            <li class="to-li clearfix">
                <span class="to-message">
                    Sorry.I went offiline and went to bed early last night and only saw your message
                </span>
            </li>
        </ul>
    </div>
    <footer>
        <input type="text" class="message-input" placeholder="Aa" />
        <button class="message-send">发 送</button>
    </footer>
</body>

</html>