header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;

    div {
        float: left;
    }

    .head-back {
        width: 24x;
        height: 24px;
        margin-top: 6px;
    }

    .head-logo {
        width: 36x;
        height: 36px;
        border-radius: 50%;
    }

    span {
        margin-left: 12px;
        line-height: 36px;
        font-weight: 500;
        font-size: 16px;
    }
}

.container {
    margin-top: 60px;

    .message-list {
        font-size: 10px;

        p {
            line-height: 30px;
            text-align: center;
        }

        .form-li,
        .to-li {
            margin-top: 20px;
        }

        .form-li {
            .message-form-logo {
                width: 36x;
                height: 36px;
                border-radius: 50%;
                margin-left: 20px;
                display: block;
                float: left;
            }

            .form-message {
                background-color: #0084ff;
                max-width: 60%;
                margin-left: 10px;
                font-size: 14px;
                padding: 0 10px;
                color: white;
                border-radius: 8px;
                line-height: 26px;
                display: block;
                float: left;
            }
        }

        .to-li {
            .to-message {
                background-color: #0084ff;
                max-width: 60%;
                margin-right: 10px;
                font-size: 14px;
                padding: 0 10px;
                color: white;
                border-radius: 8px;
                line-height: 26px;
                display: block;
                float: right;
            }
        }
    }
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    background-color: white;

    input {
        border: 0;
        background: #f2f2f2;
        padding-left: 20px;
        outline: none;
        display: block;
        float: left;
        margin: 10px 0;
        border-radius: 10px;
        height: 30px;
        width: 60%;
        margin-left: 20px;
    }

    .message-send {
        display: block;
        float: right;
        margin: 10px 0;
        padding: 0 10px;
        margin-right: 20px;
        height: 30px;
        background-color: #0084ff;
        border-radius: 6px;
        border: 0;
        color: white;
        outline:none;
    }
}